@model HomeVM

<!-- Page Title Section -->

<section class="page-title-section" style="background-image: url(/images/background/8.jpg)">
    <div class="auto-container">
        <h1>Testing Pizza</h1>
        <div class="content">
            <h3>Shop Detial</h3>
            <ul class="bread-crumbs">
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li>Shop Detial</li>
            </ul>
        </div>
    </div>
</section>

<!-- End Page Title Section -->
<!-- Shop Detail Section -->


<div class="shop-detail-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Carousel Column -->
            <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">

                    <!-- Carousel Boxed -->
                    <div class="menu-carousel-box">
                        <div class="image-column">
                            <div class="carousel-outer">

                                <ul class="image-carousel owl-carousel owl-theme">

                                    @foreach (var item in Model.Product.ProductImages.Where(x => x.IsPoster == true))
                                    {
                                        <li><img src="~/uploads/products/@item.ImageUrl" alt="" /></li>
                                    }


                                </ul>

                                <ul class="thumbs-carousel owl-carousel owl-theme">


                                    @foreach (var item in Model.Product.ProductImages.Where(x => x.IsPoster == null))
                                    {
                                        <li><img src="~/uploads/products/@item.ImageUrl" alt="" /></li>
                                    }

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Content Column -->


            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="title">@Model.Product.IsAvialable</div>
                    <h3>@Model.Product.Title</h3>

                    <div class="clearfix">
                        <div class="pull-left">
                            <div class="price">$@Model.Product.Price <span>+ FREE SHIPPING</span> </div>
                        </div>
                        <div class="pull-right">
                            <!-- Quantity Box -->
                            <div class="quantity-box">
                                <!-- Form Group -->
                                <div class="form-group">
                                    <label>Quantity :</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <!-- End Quantity Box -->
                        </div>
                    </div>
                    <div class="categories">
                        <strong>CATEGORIES:  </strong> <p>@Model.Product.Category.Name</p>
                    </div>
                    <div class="clearfix">
                        <!-- Flavour Box -->
                        <div class="flavour-box pull-left" style="display:flex">
                            <!-- Form Group -->
                            <div class="form-group" style="margin-right:10px">
                                <label asp-for="Product.FlavourId" class="form-label">Flavour:</label>
                                <select asp-for="Product.FlavourId" class="custom-select" aria-label="Default select example">
                                    @foreach (var falavour in ViewBag.Flavours)
                                    {
                                        <option value="@falavour.Id">@falavour.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Product.SizeIds" class="form-label">Size:</label>
                                <select asp-for="Product.SizeIds" class="custom-select" aria-label="Default select example">
                                    @foreach (var size in ViewBag.Sizes)
                                    {
                                        <option value="@size.Id">@size.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <!-- End Flavour Box -->
                        <!-- Button Box -->
                        <div class="button-box pull-right" style="margin-top:30px">
                            <a href="#" class="theme-btn btn-style-four"><span class="txt">Add To Cart</span></a>
                        </div>
                    </div>

                    <!-- Social Box -->
                    <ul class="social-box">
                        <span>SHARE:</span>
                        <li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
                        <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                        <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                    </ul>
                </div>
            </div>


        </div>

        <!-- Menu Info Tabs -->
        <div class="menu-info-tabs">
            <div class="menu-tabs tabs-box">

                <!-- Tab Btns -->
                <ul class="tab-btns tab-buttons clearfix">
                    <li data-tab="#prod-details" class="tab-btn active-btn">Description</li>
                    <li data-tab="#prod-info" class="tab-btn">Additional Information</li>
                </ul>

                <!-- Tabs Container -->
                <div class="tabs-content">


                    <!-- Tab / Active Tab -->
                    <div class="tab active-tab" id="prod-details">
                        <div class="content">
                            <p>@Model.Product.Description</p>
                        </div>
                    </div>

                    <!-- Tab / Active Tab -->
                    <div class="tab" id="prod-info">
                        <div class="content">
                            <p>@Model.Product.AdditionalInfo</p>
                        </div>
                    </div>




                </div>
            </div>

        </div>
        <!-- End Product Info Tabs -->
        <!-- Shop Related Products -->



        <div class="shop-related-products">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h3>More Products</h3>
            </div>

            <div class="row clearfix">


                @foreach (var item in Model.Products)
                {
                    <!-- Menu Block -->
                    <div class="menu-block-two col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image" style="width:280px; height:300px">
                                <a href="shop-detail.html"><img src="~/uploads/products/@item.ProductImages?.Where(x=>x.IsPoster==true).FirstOrDefault()?.ImageUrl" alt="" /></a>
                                <div class="overlay-box">
                                    <div class="content">
                                        <div class="btn-box">
                                            <a class="theme-btn btn-style-two" asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id"><span class="txt">Add To Cart</span></a>
                                        </div>
                                        <ul class="btns-list">
                                            <li><a asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id" class="fa fa-eye"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-content" style="width:280px; height:150px">
                                <h4>@item.Title</h4>
                                <p>@item.Category.Name</p>
                                <div class="price">$@item.Price</div>
                            </div>
                        </div>
                    </div>
                }




            </div>

        </div>
        <!-- End Shop Related Products -->


    </div>
</div>

<!-- End Shop Services Section -->
<!-- Clients Section -->
<section class="clients-section" style="background-image: url(images/background/pattern-7.png)">
    <div class="auto-container">
        <div class="inner-container">
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/3.png" alt=""></a></figure></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Clients Section -->
<!-- Subscribe Section -->
<section class="subscribe-section" style="background-image: url(images/background/4.jpg)">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <h3>You've Got Pizza</h3>
            <div class="text">Sign up for hot slices of pizza news and special offers! Don’t worry, we won’t clog <br> your inbox or your arteries.</div>
        </div>

        <!-- NewsLetter Form -->
        <div class="newsletter-form">
            <form method="post" action="https://gico.io/cyyo/05_Pizza/contact.html">
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email address" required="">
                    <button type="submit" class="theme-btn"><span class="txt">Sign up For Subscribe</span></button>
                </div>
            </form>
        </div>

    </div>
</section>
<!-- End Subscribe Section -->
