@model List<AboutInfoGetDTO>
@{
    int counter = 1;
}
<div class="container">
    <div class="row">
        <div class="col-3 mb-3">
            <a asp-action="Create" asp-controller="AboutInfo" class="btn btn-outline-info">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Icon</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@(counter++)</th>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td><img src="~/uploads/aboutinfos/@item.ImageUrl" width="100" height="100" alt="Alternate Text" /></td>
                            <td><img src="~/uploads/aboutinfos/@item.FonUrl" width="100" height="100" alt="Alternate Text" /></td>
                            <td>
                                <a asp-action="Delete" asp-controller="AboutInfo" asp-route-id="@item.Id" class="btn btn-outline-danger delete-btn">Delete</a>
                                <a asp-action="Update" asp-controller="AboutInfo" asp-route-id="@item.Id" class="btn btn-outline-primary">Update</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>