@using FinalProject.ViewServices
@inject LayoutService layoutService;
@{
	var check = layoutService.checks;
	var user = await layoutService.GetUserData();
}

<!DOCTYPE html>
<html>

<!-- Mirrored from gico.io/cyyo/05_Pizza/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jun 2024 14:10:43 GMT -->
<head>
	<meta charset="utf-8">
	<title>Cyyo Pizza</title>
	<!-- Stylesheets -->
	<link href="~/css/bootstrap.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&amp;family=Overpass:wght@100;200;300;400;600;700;800;900&amp;family=Playfair+Display:wght@400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

	<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="~/images/favicon.png" type="image/x-icon">

	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="~/js/respond.js"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

	<div class="page-wrapper">

		<!-- Preloader -->
		<div class="preloader"></div>

		<!-- Main Header -->
		<header class="main-header">

			<!-- Header Upper -->
			<div class="header-upper">
				<div class="auto-container">
					<div class="clearfix">

						<div class="pull-left logo-box">
							<div class="logo"><a asp-action="Index" asp-controller="Home"><img src="~/images/logo.png" alt="" title=""></a></div>
						</div>

						<div class="nav-outer clearfix">
							<!-- Mobile Navigation Toggler -->
							<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
							<!-- Main Menu -->
							<nav class="main-menu navbar-expand-md">
								<div class="navbar-header">
									<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<div class="navbar-collapse show collapse clearfix" id="navbarSupportedContent">
									<ul class="navigation left-nav clearfix">
										<li class="current"><a asp-action="Index" asp-controller="Home">Home</a></li>
										<li class="dropdown">
											<a href="#">About</a>
											<ul>
												<li><a href="about.html">About Us</a></li>
												<li><a href="team.html">Team</a></li>
											</ul>
										</li>
										<li><a asp-action="Reserv" asp-controller="Reservation">Reservation</a></li>
									</ul>

									<ul class="navigation right-nav clearfix">
										<li>
											<a asp-action="Index" asp-controller="Shop">Shop</a>
										</li>
										@if (User.Identity.IsAuthenticated)
										{
											<li class="dropdown">
												<a href="#"><i class="fa fa-user "><i class="text-monospace text-primary"> @user.UserName</i></i></a>
												<ul>
													
													@* <li><a asp-action="Login" asp-controller="User">Login</a></li> *@
													<li><a asp-action="SignOut" asp-controller="User">LogOut</a></li>

												</ul>
											</li>
										}
										else
										{
											<li class="dropdown">
												<a href="#">Login/Register</a>
												<ul>

													<li><a asp-action="Login" asp-controller="User">Login</a></li>
													<li><a asp-action="Register" asp-controller="Account">Register</a></li>

												</ul>
											</li>
										}

										<li><a asp-action="Index" asp-controller="Contact">Contact</a></li>
									</ul>

								</div>

							</nav>

							<!-- Main Menu End-->
							<div class="outer-box clearfix">

								<!-- Cart Box -->
								<div class="cart-box">
									<div class="dropdown">
										<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-cart"></span><span class="total-cart"></span></button>
										<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu1">

											@foreach (var item in check)
											{
												<div class="cart-product">
													<div class="inner">
														<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
														<div class="image"><img src="~/uploads/products/@item.Product.ProductImages?.Where(x=>x.IsPoster==true).FirstOrDefault()?.ImageUrl" alt="" /></div>
														<h3><a href="#">@item.Product.Title</a></h3>
														<div class="quantity-text">@item.Count</div>
														<div class="price">$@item.Product.Price</div>
													</div>
												</div>
											}

											<div class="cart-total">Sub Total: <span>$198</span></div>
											<ul class="btns-boxed">
												<li><a href="#">View Cart</a></li>
												<li><a asp-action="checkout" asp-controller="product">CheckOut</a></li>
											</ul>

										</div>
									</div>
								</div>

							</div>

						</div>

					</div>
				</div>
			</div>
			<!-- End Header Upper -->
			<!-- Sticky Header  -->
			<div class="sticky-header">
				<div class="auto-container clearfix">
					<!--Logo-->
					<div class="logo pull-left">
						<a href="index-2.html" title=""><img src="~/images/logo-small.png" alt="" title=""></a>
					</div>
					<!--Right Col-->
					<div class="pull-right">
						<!-- Main Menu -->
						<nav class="main-menu">
							<!--Keep This Empty / Menu will come through Javascript-->
						</nav><!-- Main Menu End-->
						<!-- Main Menu End-->
						<div class="outer-box clearfix">

							<!-- Search Btn -->
							<div class="search-box-btn search-box-outer"><span class="icon fa fa-search"></span></div>

							<!-- Cart Box -->
							<div class="cart-box">
								<div class="dropdown">
									<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-bag-1"></span><span class="total-cart"></span></button>
									<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu">
										@foreach (var item in check)
										{
											<div class="cart-product">
												<div class="inner">
													<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
													<div class="image"><img src="~/uploads/products/@item.Product.ImageUrl" alt="" /></div>
													<h3><a href="#">@item.Product.Title</a></h3>
													<div class="quantity-text">@item.Count</div>
													<div class="price">$@item.Product.Price</div>
												</div>
											</div>
										}
									
										<div class="cart-total">Sub Total: <span>$198</span></div>
										<ul class="btns-boxed">
											<li><a href="#">View Cart</a></li>
											<li><a asp-action="checkout" asp-controller="product">CheckOut</a></li>
										</ul>

									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div><!-- End Sticky Menu -->
			<!-- Mobile Menu  -->
			<div class="mobile-menu">
				<div class="menu-backdrop"></div>
				<div class="close-btn"><span class="icon flaticon-multiply"></span></div>

				<nav class="menu-box">
					<div class="nav-logo"><a href="index-2.html"><img src="~/images/logo-small.png" alt="" title=""></a></div>
					<div class="menu-outer"><Here Menu Will Come Automatically Via Javascript / Same Menu as in Header> </div>
				</nav>
			</div><!-- End Mobile Menu -->

		</header>
		<!-- End Main Header -->
@RenderBody()

			<!-- Main Footer -->
    <footer class="main-footer">
		<div class="pattern-layer-one" style="background-image: url(/images/resource/footer.jpg)"></div>
		<div class="big-logo">
			<img src="~/images/footer-big-logo.png" alt="" />
		</div>
    	<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
				
					<!-- Footer Column -->
					<div class="footer-column col-lg-6 col-md-6 col-sm-12">
						<div class="footer-widget logo-widget">
							<div class="logo">
								<a href="index-2.html"><img src="~/images/footer-logo.png" alt="" /></a>
							</div>
							<div class="text">Sebastian and Tony Lazzara221 <br> W 38th St New York, NY 10018</div>
							<a class="phone-number" href="tel:+212-924-7778">+(212) 924-7778</a>
							<!-- Timing -->
							<ul class="timing">
								<span>Opening Hours</span>
								<li>Friday:    09:00 – 23:00h</li>
								<li>Saturday:    09:00 – 16:00h</li>
								<li>Sunday:    12:00 – 18:00h</li>
							</ul>
							
							<!-- Social Box -->
							<ul class="social-box">
								<li><a href="#" class="fa fa-facebook-f"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-instagram"></a></li>
								<li><a href="#" class="fa fa-pinterest-p"></a></li>
							</ul>
							
						</div>
					</div>
					
					<!-- Footer Column -->
					<div class="footer-column col-lg-6 col-md-6 col-sm-12">
						<h5>Useful Link</h5>
						<ul class="footer-list">
							<li><a href="#">About us</a></li>
							<li><a href="#">Membership</a></li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Refund Policy</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
						
						<div class="footer-widget gallery-widget">
							<h5>Instagram feed</h5>
							<div class="widget-content">
								<div class="images-outer clearfix">
									<!--Image Box-->
									<figure class="image-box"><a href="~/images/gallery/1.html" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-gallery-thumb-1.jpg" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="~/images/gallery/2.html" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-gallery-thumb-2.jpg" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="~/images/gallery/3.html" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-gallery-thumb-3.jpg" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="~/images/gallery/4.html" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-gallery-thumb-4.jpg" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="~/images/gallery/1.html" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-gallery-thumb-5.jpg" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="~/images/gallery/2.html" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="~/images/gallery/footer-gallery-thumb-6.jpg" alt=""></a></figure>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="clearfix">
						<div class="pull-left">
							<div class="copyright">Copyright &copy;2020 <a href="#">All rights reserved</a></div>
						</div>
						<div class="pull-right">
							<div class="cards"><img src="~/images/icons/cards.png" alt="" /></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</footer>
	<!-- End Main Footer -->
	
</div>
<!--End pagewrapper-->

<!-- Search Popup -->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"></span></button>
	<button class="close-search"><span class="flaticon-multiply"></span></button>
	<form method="post" action="https://gico.io/cyyo/05_Pizza/blog.html">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!-- End Header Search -->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<script src="~/js/jquery.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/jquery.fancybox.js"></script>
<script src="~/js/appear.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/js/tilt.jquery.min.js"></script>
<script src="~/js/jquery.paroller.min.js"></script>
<script src="~/js/owl.js"></script>
<script src="~/js/wow.js"></script>
<script src="~/js/nav-tool.js"></script>
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/script.js"></script>
<script src="~/js/main.js"></script>

</body>

<!-- Mirrored from gico.io/cyyo/05_Pizza/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jun 2024 14:11:03 GMT -->
</html>