@using FinalProject.Business.DTOs.ReservationDTOs
@using FinalProject.Core.Models
@using Microsoft.Extensions.Options

@model ReservationCreateDTO
@inject IOptions<StripeSettings> Stripe
		<!-- Page Title Section -->
		<section class="page-title-section" style="background-image: url(/images/background/7.jpg)">
			<div class="auto-container">
				<h1>Chef Pizza</h1>
				<div class="content">
					<h3>Reservation</h3>
					<ul class="bread-crumbs">
						<li><a asp-action="Index" asp-controller="Home">Home</a></li>
						<li>Reservation</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- End Page Title Section -->
		<!-- Reservation Page Section -->
		<section class="reservation-page-section">
			<div class="auto-container">
				<div class="row clearfix">

					<!-- Form Column -->
					<div class="form-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<!-- Title Box -->
							<div class="title-box">
								<h4>Reservation</h4>
								<div class="text">Reserv edin və restoranımızın ləziz təamlarını bizmlə kəşf edin! <br> </div>
								<span class="arrow">
									<img src="~/images/icons/arrow.png" alt="" />
								</span>
							</div>

							<!-- Reservation Form -->
							<div class="reservation-form">
								<form method="post" asp-action="Index" asp-controller="Reservation">
									<div class="row clearfix">

					                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
											<input type="email" asp-for="@Model.Email" placeholder="Email" required="">
										</div>
									
										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<input  asp-for="@Model.Phone" placeholder="Phone" required="">
										</div>

										<div class="form-group col-lg-12 col-md-12 col-sm-12">
									<label asp-for="@Model.TableId" class="form-label">TableName:</label>
									<select required asp-for="@Model.TableId" class="custom-select" aria-label="Default select example">
										<option selected disabled value="@null" >Select Table</option>

										@foreach (var table in ViewBag.Tables)
										{
											<option value="@table.Id"> Masa adı: @table.Title -

												          <span>PersonCount: @table.Seats</span> -

														  <span>ReservPrice: @table.Price ₼</span>
											</option>
											
										}
									</select>
									<span asp-validation-for="Table" class="text-danger"></span>
										</div>


										<!-- Form Group -->
										<div class="form-group col-lg-6 col-md-6 col-sm-12">
									    <input class="awe-calendar awe-input from" asp-for="@Model.StartDate"  placeholder="Check In StartTime" />
											<span asp-validation-for="StartDate" class="text-danger"></span>
										</div>

								        <div class="form-group col-lg-6 col-md-6 col-sm-12">
									<input class="awe-calendar awe-input to" asp-for="@Model.EndDate"  placeholder="Check In EndTime" />
									       
								        </div>

										<div class="col-lg-12 col-md-12 col-sm-12 form-group">
											<textarea class="" asp-for="@Model.Comments" placeholder="Comments"></textarea>
										</div>

										<div class="form-group col-lg-12 col-md-12 col-sm-12">
									<form action="/" method="post">
										<script src="//checkout.stripe.com/v2/checkout.js"
												class="stripe-button"
												data-key="@Stripe.Value.Publishablekey"
												data-amount="@ViewBag.Total"
												data-name="[Deveducate]"
												data-locale="en"
												data-discription="Sample charge"
												data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
												data-zip-code="true">
										</script>

									</form>
										</div>

									</div>
								</form>

							</div>
							<!-- End Booking Form -->

						</div>
					</div>

					<!-- Image Column -->
					<div class="image-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="~/images/resource/reservation.png" alt="" />
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- End Reservation Page Section -->
		<!-- Clients Section -->
		<section class="clients-section" style="background-image: url(/images/background/pattern-7.png)">
			<div class="auto-container">
				<div class="inner-container">
					<div class="sponsors-outer">
						<!--Sponsors Carousel-->
						<ul class="sponsors-carousel owl-carousel owl-theme">
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/1.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/2.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/3.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/4.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/1.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/2.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/3.png" alt=""></a></figure></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- End Clients Section -->
		<!-- Subscribe Section -->
		<section class="subscribe-section" style="background-image: url(/images/background/4.jpg)">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title centered">
					<h3>You've Got Pizza</h3>
					<div class="text">Sign up for hot slices of pizza news and special offers! Don’t worry, we won’t clog <br> your inbox or your arteries.</div>
				</div>

				<!-- NewsLetter Form -->
				<div class="newsletter-form">
					<form method="post" action="https://gico.io/cyyo/05_Pizza/contact.html">
						<div class="form-group">
							<input type="email" name="email" value="" placeholder="Email address" required="">
							<button type="submit" class="theme-btn"><span class="txt">Sign up For Subscribe</span></button>
						</div>
					</form>
				</div>

			</div>
		</section>
		<!-- End Subscribe Section -->
		<!-- Main Footer -->
		