@model OrderVM
@{
    decimal? totalAmount = 0;
    decimal? itemAmount = 0;
   
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    
    <title> Checkout</title>
  
   
   
    <!-- Favicon -->
    <link rel="shortcut icon"
          type="image/x-icon"
          href="~/images/favicon.png" />

    <!-- CSS
    ============================================ -->

    <link rel="stylesheet" href="~/checkout/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/checkout/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/checkout/assets/css/Pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/checkout/assets/css/animate.min.css" />
    <link rel="stylesheet" href="~/checkout/assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/checkout/assets/css/nice-select.css" />
    <link rel="stylesheet" href="~/checkout/assets/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="~/checkout/assets/css/ion.rangeSlider.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/checkout/assets/css/style.css" />
</head>

<body>
    <section class="page-title-section" style="background-image: url(/images/background/7.jpg)">
        <div class="auto-container">
            <h1>Chef Pizza</h1>
            <div class="content">
                <h3>Checkout</h3>
                <ul class="bread-crumbs">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li>CheckOut</li>
                </ul>
            </div>
        </div>
    </section>
   
    <div class="main-wrapper">
        <!-- Begin Main Header Area -->
        
        <!-- Main Header Area End Here -->
           
        <!-- Begin Main Content Area -->
        <main class="main-content">
            <div class="checkout-area section-space-y-axis-100">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <form id="orderForm" method="post" asp-action="checkout">
                                <div class="checkbox-form">
                                    <h3>Billing Details</h3>
                                    <div class="row">
                                       
                                 
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label>FullName <span class="required">*</span></label>
                                                    <input asp-for="FullName" placeholder="FullName" type="text" />
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label>Address <span class="required">*</span></label>
                                                    <input asp-for="Address" placeholder="Street address" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <input placeholder="Apartment, suite, unit etc. (optional)"
                                                           type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label>Country <span class="required">*</span></label>
                                                    <input asp-for="Country" type="text" />
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>
                                                        Postcode
                                                        <span class="required">*</span>
                                                    </label>
                                                    <input asp-for="PostCode" placeholder="" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>
                                                        Email Address
                                                        <span class="required">*</span>
                                                    </label>
                                                    <input asp-for="Email" placeholder="" type="email" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>Phone <span class="required">*</span></label>
                                                    <input asp-for="Phone" type="text" />
                                                </div>
                                            </div>
                                    
                                        
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="your-order">
                                <h3>Your order</h3>
                                <div class="your-order-table table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="cart-product-name">Product</th>
                                                <th class="cart-product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                            @foreach (var item in ViewBag.CheckOutViewModel)
                                            {
                                                <tr class="cart_item">
                                                    <td class="cart-product-name">
                                                        @item.Product.Title<strong class="product-quantity">
                                                            × @item.Count
                                                        </strong>
                                                    </td>

                                                    <td class="cart-product-total">
                                                        <span class="amount">
                                                            $ @(itemAmount = (item.Product.Price * item.Count))
                                                            <span hidden @(totalAmount += itemAmount)></span>
                                                        </span>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                        <tfoot>
                                            
                                            <tr class="order-total">
                                                <th>Order Total</th>
                                                <td>
                                                    <strong><span class="amount">$ @(totalAmount)</span></strong>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment-method">
                                    <div class="payment-accordion">
                                        <div id="accordion">
                                            <div class="card">
                                                <div class="card-header" id="#payment-1">
                                                    <h5 class="panel-title">
                                                        <a href="#"
                                                           class=""
                                                           data-bs-toggle="collapse"
                                                           data-bs-target="#collapseOne"
                                                           aria-expanded="true">
                                                            Direct Bank Transfer.
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseOne"
                                                     class="collapse show"
                                                     data-bs-parent="#accordion">
                                                    <div class="card-body">
                                                        <p>
                                                            Make your payment directly into our bank
                                                            account. Please use your Order ID as the payment
                                                            reference. Your order won’t be shipped until the
                                                            funds have cleared in our account.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="#payment-2">
                                                    <h5 class="panel-title">
                                                        <a href="#"
                                                           class="collapsed"
                                                           data-bs-toggle="collapse"
                                                           data-bs-target="#collapseTwo"
                                                           aria-expanded="false">
                                                            Cheque Payment
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo"
                                                     class="collapse"
                                                     data-bs-parent="#accordion">
                                                    <div class="card-body">
                                                        <p>
                                                            Make your payment directly into our bank
                                                            account. Please use your Order ID as the payment
                                                            reference. Your order won’t be shipped until the
                                                            funds have cleared in our account.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="#payment-3">
                                                    <h5 class="panel-title">
                                                        <a href="#"
                                                           class="collapsed"
                                                           data-bs-toggle="collapse"
                                                           data-bs-target="#collapseThree"
                                                           aria-expanded="false">
                                                            PayPal
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree"
                                                     class="collapse"
                                                     data-bs-parent="#accordion">
                                                    <div class="card-body">
                                                        <p>
                                                            Make your payment directly into our bank
                                                            account. Please use your Order ID as the payment
                                                            reference. Your order won’t be shipped until the
                                                            funds have cleared in our account.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                          <button form="orderForm" type="submit" class="place-order-w-100 btn btn-outline-danger">Place Order</button>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content Area End Here -->
        <!-- Begin Footer Area -->
       
        <!-- Scroll To Top End Here -->
    </div>

    <!-- Global Vendor, plugins JS -->
    <!-- JS Files
    ============================================ -->

    <script src="~/checkout/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/checkout/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/checkout/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/checkout/assets/js/vendor/jquery.waypoints.js"></script>
    <script src="~/checkout/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/checkout/assets/js/plugins/wow.min.js"></script>
    <script src="~/checkout/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/checkout/assets/js/plugins/jquery.nice-select.js"></script>
    <script src="~/checkout/assets/js/plugins/parallax.min.js"></script>
    <script src="~/checkout/assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="~/checkout/assets/js/plugins/tippy.min.js"></script>
    <script src="~/checkout/assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="~/checkout/assets/js/plugins/mailchimp-ajax.js"></script>
    <script src="~/checkout/assets/js/plugins/jquery.counterup.js"></script>

    <!--Main JS (Common Activation Codes)-->
    <script src="~/checkout/assets/js/main.js"></script>
</body>
</html>

<!-- Main Content Area End Here -->